#set( $exerciseLog = $ctx.args.input )
$util.qr($exerciseLog.put("createdAt", $util.time.nowISO8601()))
$util.qr($exerciseLog.put("updatedAt", $util.time.nowISO8601()))

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($util.defaultIfNullOrBlank($ctx.args.input.id, $util.autoId())),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($exerciseLog)
}
